{% extends 'FrontendBundle::layout.html.twig' %}

{% block title_primary %}Contact{% endblock title_primary %}

{% block body %}
<div class="span12">

    {% if app.session.flashbag.has('blogger-notice') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Well done!</strong> {{ app.session.flashbag.get('blogger-notice')[0] }}
        </div>
    {% endif %}

    <legend>Contacto</legend>

    <form action="{{ path('frontend_contact') }}" method="post" {{ form_enctype(form) }}>
        <fieldset>
            
            <div>
                {{ form_label(form.name, 'Name') }}
                {{ form_errors(form.name) }}
                {{ form_widget(form.name,  { 'attr': { 
                    'class': 'input-block-level'
                    }}) 
                }}
            </div>

            <div>
                {{ form_label(form.email, 'Email') }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email,  { 'attr': { 
                    'class': 'input-block-level'
                    }}) 
                }}
            </div>

            <div>
                {{ form_label(form.subject, 'Subject') }}
                {{ form_errors(form.subject) }}
                {{ form_widget(form.subject,  { 'attr': { 
                    'class': 'input-block-level'
                    }}) 
                }}
            </div>

            <div>
                {{ form_label(form.content, 'Message') }}
                {{ form_errors(form.content) }}
                {{ form_widget(form.content,  { 'attr': { 
                    'class': 'input-block-level'
                    }}) 
                }}
            </div>
            
            {{ form_rest(form) }}

            <input class="btn btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Send" />
        </fieldset>
    </form>
</div>    
{% endblock body %}

{% block sidebar %}

{% endblock sidebar %}