{% extends 'fabsalitoBlogBundle::layout.html.twig' %}

{% block title_primary %}Home{% endblock title_primary %}

{% block body %}
<div class="span9">
    {% for blog in blogs %}
        <div class="muted">
            <time datetime="{{ blog.created|date('c') }}">{{ blog.created|date('l, F j, Y') }}</time>
        </div>
        
        <h3><a href="{{ path('fabsalito_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">{{ blog.title }}</a></h3>

        {#
        <ul class="thumbnails">
            <li class="span4">
                <a href="#" class="thumbnail">
                    <img src="{{ asset(['images/', blog.image]|join) }}" alt="{{ blog.title }} image not found">
                </a>
            </li>
        </ul>
        #}

        <p>{{ blog.blog()[:500] }}</p>
        
        <p>
            <a class="btn btn-primary" href="{{ path('fabsalito_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}">
                Continue reading...
            </a>
        </p>

        <ul>
            <li>
                <strong>Comments:</strong> <a href="{{ path('fabsalito_blog_show', { 'id': blog.id, 'slug': blog.slug }) }}#comments">{{ blog.comments|length }}</a>
            </li>
            <li><strong>Posted by:</strong> {{blog.author}} [<em>{{ blog.created|created_ago }}</em>]</li>
            <li><strong>Tags:</strong> {{ blog.tags }}</li>
        </ul>
    {% else %}
        <p class="text-info">There are no blog entries for fabsalito::blog</p>
    {% endfor %}
</div>    
{% endblock body %}

{% block sidebar %}
{{ parent() }}
{% endblock sidebar %}